body{
    background-color: #f2f2f2;
}

.navbar {
    overflow: hidden;
    background-color: brown;
    border-radius: 10px;
    display: flex;
    height: 45px;
    padding: 2px;
}

.store-logo-container {
    padding: 5px;
}

.store-logo {
    border-radius: 10px;
    width: 50px;

}

.title {
    font-size: 20px;
}

.sections-container{
    padding: 10px;
    margin-left: 200px;
}

.sections {
    text-decoration: none;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
    margin: 5px;
    margin-top: 0;
    margin-bottom: 0;
}

.sections:hover{

    color: black;
}

.icon-container{
    margin-left: 150px;
    padding: 10px;
}

.icon{
    margin-left: 30px;
    width: 20px;
    cursor: pointer;
}


.header {
    display: flex;
    margin-top: 50px;
    margin-bottom: 80px;

}
.header-img{
    padding-left: 50px;

}
.bookshop-img{
    width: 600px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 3px 3px 5px 5px grey;
}
.header-text{
    padding-left: 50px;

}

.header-text b{
    font-size: 50px;
}

.header-text  p{
    font-size: 20px;
    padding-left: 10px;
}

.header-btn button{
    background-color: brown;
    border: none;
    width: 130px;
    border-radius: 15px;
    padding: 15px;
    color: white;
    font-weight: 700;
}

.header-btn button:hover{
    cursor: pointer;
    background-color: rgb(66, 35, 35);
}

.cards-container{
    width: 1100px;
    display: flex;
    margin-top: 15px;
    padding: 50px;
    margin-bottom: -15px;
}

.cards{
    display: flex;
    padding: 15px;
    padding-left: 100px;
}

.card-text{
    padding-left: 35px;
    cursor: pointer;
}

.card-img{
    width:50px;
    padding-left: 20px;
    cursor: pointer;

}

.card-text-2{
    padding-left: 200px;
    display: flex;
    margin: 20px;
}

.card-text-2-b{
    font-size: 50px;
    padding: 10px;
    margin: 10px;

}

.card-text-2 p{
    width: 500px;
    padding-left: 20px;
}

.books-card-container{
    display: flex;
    margin: 50px;
    overflow-x: scroll;
    padding: 50px;
    border-radius: 25px;
}

.books-card{
    width: 220px;
    margin: 10px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px grey;
    cursor: pointer;
    transition: 1s;
    flex-direction: row;

}

.books-card:hover{
    transform: scale(1.3);
    z-index: 2;

}

.books-card-img-div{
    text-align: center;
}

.books-card-img{
    width: 180px;

}

.books-card-btn{
    text-align: center;

}

.books-card-btn button{
    border: none;
    padding: 10px;
    border-radius: 10px;
    background-color: brown;
    width: 140px;
    color: white;
    font-weight: 900;
    cursor: pointer;

}

.books-card-btn button:hover{
    background-color: rgb(66, 35, 35);
    color: white;
}

.footer {
    display: flex;
    justify-content: space-around;
}

.links {
    text-decoration: none;
    color: black;
}

.contact {
    cursor: pointer;
}

.btn-container {
    margin-left: 85px;
}

.btn {
    cursor: pointer;
    background-color: rgb(190, 42, 5);
    width: 20px;
    padding: 5px;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    border: 2px white solid;
}

.margin {
    margin-left: 10px;
}

.logo {
    width: 50px;
}

.subs {
    width: 290px;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid black;
}

.social-handles {
    display: flex;
    justify-content: center;
}

.socials {
    width: 38px;
    margin: 10px;
    cursor: pointer;
}

.designer {
    text-align: center;
    font: caption;
}
